{% macro input(name, label) %}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <input type="text" class="form-control" name="{{ name }}" id="{{ name }}">
    </div>
{% endmacro %}

{% macro textarea(name, label) %}
    <div class="form-group">
        <label for="{{ name }}">{{ label }}</label>
        <textarea type="text" class="form-control" name="{{ name }}" id="{{ name }}">
    </div>
{% endmacro %}