{% extends "_layout.html.twig" %}

{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block header %}
    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <img class="masthead-avatar mb-3 img-fluid rounded-circle" src="/assets/img/richard_petit.jpg" alt="..."/>
            <!-- Masthead Heading-->
            <h3 class="masthead-heading text-uppercase mb-0">Richard PETIT - Développeur Web</h3>
            <!-- Icon Divider-->
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0">Pour mettre en avant votre entreprise</p>
            <hr class="star-light"/>
            <p>
                <a class="btn btn-primary" href="/assets/file/CV_Richard_Petit.pdf" target="_blank">
                    Afficher mon CV
                </a>
            </p>
        </div>
    </header>
{% endblock %}
{% block content %}
    {% block cv %}


    {% endblock cv %}
    {% block article %}
        <h2>Les derniers articles :</h2>
        <br>
        {% for article in viewArticle %}
            <div class="card-article">
                <h4 class="card-title">{{ article.title }} </h4>
                <p>{{ article.summary }}</p>
                <p class="published">Publié le : {{ article.getFullFormattedDate() }}
                    par {{ article.author.pseudo }}</p>
                <a class="show-article" href="/articles/{{ article.id }}"> Lire l'article</a>
            </div>
        {% endfor %}
    {% endblock  article %}


    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <h4>Besoin d'information ?</h4>
                <a href="{{ router.getUrlFromRouteName('contact') }}" class="btn btn-success"> Me contacter</a>
            </div>
        </div>

    </div>

{% endblock %}
