{% extends "_layout.html.twig" %}

{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block header %}
    <header>
        <div class="container home-headband">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="../../../public/images/photo%20site.jpg" alt="">
                    <div class="intro-text">
                        <hr class="star-light">
                        <span class="skills"> Richard PETIT - Developpeur Web <br>- Pour mettre en avant votre entreprise -</span>
                        <br>
                        <hr class="star-light">
                            <a class="cv" href="../../../public/images/Curriculum%20Vitae%20Richard%20PETIT%20.pdf" target="_blank">
                                <span class="btn btn-primary">Afficher mon CV</span>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}
    {% block cv %}


    {% endblock cv %}
    {% block article %}
        <h2>Les derniers articles :</h2>
        <br>
        {% for article in viewArticle|slice(0, 10) %}
            <div class="card-article">
                <h4 class="card-title">{{ article.title }} </h4>
                <p>{{ article.summary }}</p>
                <p class="published">Publié le : {{ article.getFullFormattedDate() }} par {{ article.author.pseudo }}</p>
                <a href="/articles/{{ article.id }}"> Lire l'article</a>
            </div>
        {% endfor %}
    {% endblock  article %}


    <div id="contactBtn">
        <h4 align="center">Besoin d'information ?</h4>
        <a href="{{ router.getUrlFromRouteName('contact') }}" class="btn btn-success"> Me contacter</a>
    </div>

{% endblock %}
