{% extends "_layout.html.twig" %}

{% block head %}
    <title>Liste des commentaires</title>
{% endblock %}


{% block content %}
    <h2>Commentaires de l'article {{ article.title }}</h2>
    {% block comment %}
        <table class="table">
            <thead>
            <th class="card-title">Auteur</th>
            <th class="card-title">Titre</th>
            <th class="card-title">Contenu</th>
            <th class="card-title">Date</th>
            </thead>
            <tbody>
            {% for comment in comments %}

                <tr>
                    <td>
                        <p>{{ comment.author.pseudo }}</p>
                    </td>
                    <td>
                        <p>{{ comment.title }}</p>
                    </td>
                    <td>
                        <p>{{ comment.content }}</p>
                    </td>
                    <td>
                        <p>{{ comment.getFullFormattedDate }}</p>
                    </td>
                    <td>

                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    {% endblock  comment %}

{% endblock %}
